<%= form_with model: event do |form| %>
  <div>
     <%= form.label :name %>
     <%= form.text_field :name %>
  </div><br>

  <div>
     <%= form.label :description %>
     <%= form.text_field :description %><br>
  </div><br>

  <div>
     <%= form.label :location %>
     <%= form.text_field :location %><br>
  </div><br>

  <div>
     <%= form.label :date %>
     <%= form.date_field :date %><br>
  </div><br>

  <div>
     <%= form.submit "Create Event" %>
  </div><br>

<% end %>