<%= form_with model: event do |form| %>
  <div>
     <%= form.label :name %>
     <%= form.text_field :name><br>
  </div>

  <div>
     <%= form.label :description %>
     <%= form.text_field :description %><br>
  </div>

  <div>
     <%= form.label :location %>
     <%= form.text_field :location %><br>
  </div>

  <div>
     <%= form.label :date %>
     <%= form.text_field :date %><br>
  </div>

  <div>
     <%= form.submit "Create Event" %><br><br>
  </div>
  
<% end %>