
<div class="display-card">
    <h2><%= @event.name %></h2>
    <h3>Description: <%= @event.description %></h3>
    <p>Date: <%= @event.date %></p>
    <p>Location: <%= @event.location %></p>
    <%= link_to "Back to Events", events_path %>
</div>

