<div class="events-container">
    <div class="created-events">
        <h2>My Created Events</h2><br>

        <% @created_events.each do |event| %>
            <div class="event-card">
                <h3><%= event.name %></h3>
            </div>

            <div class="event-links">
                <%= link_to "Details", event_path(event) %>
            </div>

            <div class="pending-requests">
                <h4>Pending Requests</h4><br>

                <% if event.attendances.pending.any? %>
                    <% event.attendances.pending.each do |attendance| %>
                        <div class="attendance-request">
                            <strong><%= attendance.attendee.name %></strong>
                        </div>
                        <div class="attendance-buttons">
                            <%= button_to "Accept" , accept_attendance_path(attendance), method: :patch %>
                            <%= button_to "Decline" , decline_attendance_path(attendance),method: :patch %>
                        </div>
                    <% end %>    
                <% else %>
                    <p>No pending requests</p>
                <% end %>
            </div>
        <% end %>
    </div>

    <div class="upcoming-events">
        <h2>My Upcoming Events</h2><br>

        <% @upcoming_events.each do |event| %>
            <div class="event-card">
                <h3><%= event.name %></h3>
            </div>

            <div class="event-links">
                <%= link_to "Details", event_path(event) %>
            </div>

            <div class="status-delete">
                <h3>Status:</h3>
                <% event.attendances.each do | attendance | %>
                  <% if attendance.attendee_id == current_user.id %>
                    <div class="status-container">
                        <%= attendance.status %>
                    </div>
                    <div class="delete-container">
                        <%= button_to "Cancel Attendance", attendance_path(attendance), method: :delete %>
                    </div>
                  <% end %>
                <% end %>
            </div>
        <% end %>
    </div><br>




</div>